<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yu.Mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.yu.pojo.Category">
        <id column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>