<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.Mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.yu.pojo.OrderItem">
    <id column="order_item_id" jdbcType="INTEGER" property="orderItemId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <association property="book_info" javaType="com.yu.pojo.Book" column="book_id"
                 select="com.yu.Mapper.BookMapper.selectByBookId"/>
  </resultMap>
  <sql id="Base_Column_List">
    order_item_id, order_id, book_id, price, quantity
  </sql>

</mapper>